/*.container {*/
/*    height: 100%;*/
/*    position: relative;*/
/*    border: 3px solid green;*/
/*}*/

/*.body {*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    -ms-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*}*/

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.body > * {
    width: 100%;
}

.button {
    padding: 10px 15px;
}
.button:first-child {
    margin-right: 10px;
}